body{
    padding: 0px;
    margin: 0px;
}

.header{
    height: 8%;
    width: 100%;
    border-bottom: 1px solid black;

}

.header ul{
    display: flex;           
    align-items: center;
    justify-content: space-between; 
    list-style: none;                      
    margin: 0;  
    height: 100%;             
}

.header li{
    flex: 1;           
    text-align: center; 
    font-size: 20px;  
    color: #377A83;
    font-weight: bold;
}

.header li:hover{
    cursor: pointer;
}

#selected {
    color: #d4538e;
    font-weight: bold;
    border-bottom: solid #d4538e 2px;
    padding: 1%;
}

.image{
    background-image: linear-gradient(to right, #8F4767,#377A83);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    letter-spacing: 10px;
    width: 100%;
    height: 40%;
    text-align: center;
}

.options  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-top: 50px;
}

.option {
    width: 25%;
    text-align: center;
    border: solid;
    border-radius: 20px;
    padding: 30px;
    transition: all 0.3s ease-out;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
}

.option:hover{
    width: 30%;
    transition: all 0.3s ease-out;
}

.option img{
    width: 100px;
}